# Convert COVID-19 data from CSSE to Gapminder format

load csv  data soruces: https://github.com/CSSEGISandData/COVID-19
CC-BY: Masaki Yamabe (masakiyamabe.com)

In [3]:
#Library
import numpy as np
import pandas as pd

source_confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
source_death = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
source_recoverd = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

df_confirmed = pd.read_csv(source_confirmed)
df_death = pd.read_csv(source_death)
df_recoverd  = pd.read_csv(source_recoverd)

In [4]:
#delete unuse column
del df_confirmed['Province/State']
del df_confirmed['Lat']
del df_confirmed['Long']

del df_death['Province/State']
del df_death['Lat']
del df_death['Long']

del df_recoverd['Province/State']
del df_recoverd['Lat']
del df_recoverd['Long']
df_recoverd.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,6/21/20,6/22/20,6/23/20,6/24/20,6/25/20,6/26/20,6/27/20,6/28/20,6/29/20,6/30/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,8764,8841,9260,9869,10174,10306,10674,12604,13934,14131
1,Albania,0,0,0,0,0,0,0,0,0,...,1134,1159,1195,1217,1250,1298,1346,1384,1438,1459
2,Algeria,0,0,0,0,0,0,0,0,0,...,8422,8559,8674,8792,8920,9066,9202,9371,9674,9897
3,Andorra,0,0,0,0,0,0,0,0,0,...,792,796,797,797,797,799,799,799,799,799
4,Angola,0,0,0,0,0,0,0,0,0,...,77,77,77,77,81,81,81,81,93,93

In [5]:
# group by "country/region"
df_confirmed = df_confirmed.groupby("Country/Region").apply(lambda x: x.sum()).drop('Country/Region', axis=1).reset_index()
df_death =  df_death.groupby("Country/Region").apply(lambda x: x.sum()).drop('Country/Region', axis=1).reset_index()
df_recoverd =  df_recoverd.groupby("Country/Region").apply(lambda x: x.sum()).drop('Country/Region', axis=1).reset_index()

In [6]:
#insert case column

df_confirmed.insert(1,"case",'confirmed')
df_death.insert(1,"case",'deaths')
df_recoverd.insert(1,"case",'recoverd')

In [7]:
df_combined = pd.concat([df_confirmed, df_death, df_recoverd])
df_combined.head()

,Country/Region,case,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/21/20,6/22/20,6/23/20,6/24/20,6/25/20,6/26/20,6/27/20,6/28/20,6/29/20,6/30/20
0,Afghanistan,confirmed,0,0,0,0,0,0,0,0,...,28833,29157,29481,29640,30175,30451,30616,30967,31238,31517
1,Albania,confirmed,0,0,0,0,0,0,0,0,...,1962,1995,2047,2114,2192,2269,2330,2402,2466,2535
2,Algeria,confirmed,0,0,0,0,0,0,0,0,...,11771,11920,12076,12248,12445,12685,12968,13273,13571,13907
3,Andorra,confirmed,0,0,0,0,0,0,0,0,...,855,855,855,855,855,855,855,855,855,855
4,Angola,confirmed,0,0,0,0,0,0,0,0,...,183,186,189,197,212,212,259,267,276,284

In [8]:
#convert date format
from datetime import datetime as dt
cols = np.array(df_combined.columns)


for i,word in enumerate(cols):
    if i>1:
        s = cols[i]
        tdatetime = dt.strptime(s, '%m/%d/%y')
        cols[i] = tdatetime.strftime('%Y%m%d')
        
# set new columns to df
df_combined.columns = cols
df_combined.head()

,Country/Region,case,20200122,20200123,20200124,20200125,20200126,20200127,20200128,20200129,...,20200621,20200622,20200623,20200624,20200625,20200626,20200627,20200628,20200629,20200630
0,Afghanistan,confirmed,0,0,0,0,0,0,0,0,...,28833,29157,29481,29640,30175,30451,30616,30967,31238,31517
1,Albania,confirmed,0,0,0,0,0,0,0,0,...,1962,1995,2047,2114,2192,2269,2330,2402,2466,2535
2,Algeria,confirmed,0,0,0,0,0,0,0,0,...,11771,11920,12076,12248,12445,12685,12968,13273,13571,13907
3,Andorra,confirmed,0,0,0,0,0,0,0,0,...,855,855,855,855,855,855,855,855,855,855
4,Angola,confirmed,0,0,0,0,0,0,0,0,...,183,186,189,197,212,212,259,267,276,284

In [9]:
df_combined.describe()

,20200122,20200123,20200124,20200125,20200126,20200127,20200128,20200129,20200130,20200131,...,20200621,20200622,20200623,20200624,20200625,20200626,20200627,20200628,20200629,20200630
count,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,...,5.640000e+02,5.640000e+02,5.640000e+02,5.640000e+02,5.640000e+02,5.640000e+02,5.640000e+02,5.640000e+02,5.640000e+02,5.640000e+02
mean,1.063830,1.244681,1.778369,2.686170,3.946809,5.443262,10.312057,11.391844,15.156028,18.372340,...,2.458235e+04,2.499605e+04,2.548340e+04,2.599459e+04,2.648721e+04,2.702488e+04,2.753693e+04,2.799394e+04,2.844587e+04,2.897213e+04
std,23.112579,27.111382,38.779133,59.245605,87.419838,121.204297,232.053835,256.396134,342.891731,412.894517,...,1.224013e+05,1.243570e+05,1.267780e+05,1.293285e+05,1.318592e+05,1.347405e+05,1.374560e+05,1.398000e+05,1.421792e+05,1.449935e+05
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.775000e+01,6.875000e+01,7.350000e+01,7.675000e+01,8.025000e+01,8.025000e+01,8.025000e+01,8.100000e+01,8.175000e+01,8.275000e+01
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.140000e+02,8.220000e+02,8.515000e+02,8.690000e+02,8.735000e+02,8.925000e+02,9.140000e+02,9.265000e+02,9.320000e+02,9.395000e+02
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.551750e+03,7.692750e+03,7.806500e+03,8.144500e+03,8.171250e+03,8.311500e+03,8.586000e+03,8.595000e+03,8.686000e+03,8.707250e+03
max,548.000000,643.000000,920.000000,1406.000000,2075.000000,2877.000000,5509.000000,6087.000000,8141.000000,9802.000000,...,2.281655e+06,2.312302e+06,2.347491e+06,2.382327e+06,2.422299e+06,2.467554e+06,2.510151e+06,2.548996e+06,2.590651e+06,2.635417e+06

In [10]:
df_combined.to_csv("covid19_gapminder.csv",index=False)